@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

body{
    background: radial-gradient(#f3ea86 20%, #c1c5fa 80%);  
}

.header-text{
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 50px;
  letter-spacing: 0.02em;
  text-align: center;
  justify-content: center;
  color: #061936;
}

.gif-container{
    text-align: center;
    margin-top: 10px;
    position: absolute; 
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img{
    height: 270px;
    width: 360px;
}

@media screen and (min-width: 1300px) {
    img{
        height: 360px !important;
        width: 480px !important;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1299px){
    img{
        height: 330px !important;
        width: 440px !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px){
    img{
        height: 315px !important;
        width: 420px !important;
    }
}

.button-container{
    text-align: center;
    justify-content: center;
}

.button-24 {
    background: #eeff00;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top: 20px;
}
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: black;
  }
  
  .button-24:active {
    opacity: .5;
  }